body{
    font-family: arial;
}
.container{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.container2{
    display: flex;
    border: 2px solid;
    padding: 4%;
    justify-content: center;
    background-color: rgb(20, 20, 84);
    border-radius: 10px;
}

.container3{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.label1{
    color: white;
}

.label2{
    color: white;
    display: block;
}
.label3{
    display: flex;
    
}

.inp{
    border-radius: 5px;
}

.button{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.button1{
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border: red;
    cursor: pointer;  
}

.button2{
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    border: blue;
    cursor: pointer;
}