.container{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}


.container2{
    display: flex;
    border: 2px solid;
    padding: 10%;
    justify-content: center;
    background-color: rgb(20, 20, 84)
}