body{
    font-family: arial;
}
.name{
    font-family: Georgia;
    color: #375e97;
    border-bottom: solid 2px #375e97;
}
.developer{
    color:  #999999;
}
.email{
    color: #fb6542;
}
.website{
    color: #fb6542;
}
.container{
    border: 2px solid;
    padding: 10px;
    margin-right: 60%;
}